html,
body {
  height: 100%;
  width: 100%;
}
.flex-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (min-width: 1232px) {
  .top-flex-1 {
    order: 1;
  }
  .title {
    order: 2;
  }
  .top-flex-wide {
    order: 3;
  }
  .right {
    order: 4;
  }
}
@media all and (max-width: 1232px) {
  .title {
    flex-grow: 1;
  }
  .flex-container {
    justify-content: space-around;
  }
}
@media all and (max-width: 537px) {
  .top-flex-1 {
    order: 1;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .right {
    order: 2;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .title {
    order: 3;
  }
  .top-flex-wide {
    order: 4;
  }
}
.search {
  background: url("/src/images/magnifying_glass.png") no-repeat left;
  background-size: 40px;
  background-position: 10px;
  padding-left: 55px;
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: space-around;
}

.center {
  width: fit-content;
  margin: auto;
}
.fill-window {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}
.arrow {
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  margin: 10px;
  background-color: #574f62;
  border: none;
}
.inline-center {
  display: inline-flex;
  align-items: center;
}

.top {
  width: 100%;
  padding-top: 25px;
}
.back {
  transform: scale(-1, 1);
}
.top-flex-wide {
  flex-grow: 1;
  padding: 15px 10px;
}
.double {
  font-size: 50px;
  padding-top: 2px;
  padding-bottom: 7px;
}

.clear {
  font-size: 30px;
  padding: 12px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid black;
  border-left: none;
  box-shadow: none;
}
input[type="text"] {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: white;
  border: 2px solid black;
  width: 100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 275px;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
}
.types {
  float: right;
  display: inline-flex;
}
.type {
  margin: 5px;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 7px;
  border: solid;
}

.detail-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: fit-content;
  max-width: 750px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: white;
  color: black;
}
@media all and (max-width: 815px) {
  .detail-card {
    margin: 0px 25px;
  }
}
@media all and (min-width: 459px) {
  .card-title {
    justify-content: left;
  }
}
.detail-image {
  height: 300px;
  width: 100%;
  min-width: 300px;
  flex-grow: 1;
  display: table-cell;
}
.card-title {
  display: flex;
  flex-grow: 1;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 2;
  display: block;
}
.pad {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 15px;
}
.stats {
  min-width: 250px;
  font-weight: bold;
}
.stat-cell {
  width: 100%;
}
.stat-bar {
  background-color: lightgrey;
}
.stat {
  background-color: #574f62;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}
.profile {
  background-color: #574f62;
  color: white;
  padding: 10px;
}
span {
  text-transform: capitalize;
}
.profileTable {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}
header {
  display: grid;
}
.page-title {
  color: grey;
  font-weight: 400;
  text-align: center;
  padding: 0px 20px;
}
.detail-page-title {
  padding-bottom: 30px;
}
.app-title {
  font-weight: normal;
  font-size: 45px;
  margin: 0px 10px;
}
.fixed {
  position: fixed;
  top: 5px;
}

.loading {
  padding-top: 200px;
  height: 100%;
  width: 100%;
  animation: fadeIn 1s;
}
.transparent {
  opacity: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#poison {
  background-color: rgba(160, 64, 170, 0.25);
  border-color: #a040aa;
  color: #a040aa;
}
#grass {
  background-color: rgba(120, 200, 80, 0.25);
  border-color: #78c850;
  color: #78c850;
}
#fire {
  background-color: rgba(240, 128, 48, 0.25);
  border-color: #f08030;
  color: #f08030;
}
#water {
  background-color: rgba(104, 144, 240, 0.25);
  border-color: #6890f0;
  color: #6890f0;
}
#flying {
  background-color: rgba(168, 144, 240, 0.25);
  border-color: #a890f0;
  color: #a890f0;
}
#bug {
  background-color: rgba(238, 238, 0, 0.25);
  border-color: #ffd700;
  color: #ffd700;
}
#normal {
  background-color: rgba(189, 183, 107, 0.25);
  border-color: #bdb76b;
  color: #bdb76b;
}
#electric {
  background-color: rgba(187, 255, 255, 0.75);
  border-color: #00e5ee;
  color: #00e5ee;
}
#ground {
  background-color: rgba(184, 134, 11, 0.25);
  border-color: #b8860b;
  color: #b8860b;
}
#fairy {
  background-color: rgba(255, 130, 171, 0.25);
  border-color: #ff69b4;
  color: #ff69b4;
}
#fighting {
  background-color: rgba(238, 44, 44, 0.25);
  border-color: #cd0000;
  color: #cd0000;
}
#psychic {
  background-color: rgba(179, 238, 58, 0.25);
  border-color: #76ee00;
  color: #76ee00;
}
#rock {
  background-color: rgba(169, 169, 169, 0.25);
  border-color: #808080;
  color: #808080;
}
#steel {
  background-color: rgba(169, 169, 169, 0.75);
}
#ice {
  background-color: rgba(191, 239, 255, 0.25);
  border-color: #87cefa;
  color: #87cefa;
}
#ghost {
  background-color: rgba(247, 247, 247, 0.25);
  border-color: #d9d9d9;
  color: #d9d9d9;
  transition-duration: 0.5s;
}
#ghost:hover {
  background-color: white;
  border-color: white;
  color: white;
}
#dragon {
  background-color: rgba(0, 0, 255, 0.25);
  border-color: #0000ff;
  color: #0000ff;
}
#dark {
  background-color: rgba(94, 94, 94);
  border-color: black;
  color: balck;
}
button#dark {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}
